ghp-import  # publish blog on https://py-pdf.github.io/
pip-tools  # brings pip-compile to update the requirements.txt
pre-commit  # automatically apply style checks/autofixes

# For the blog:
invoke
livereload
markdown
pelican
